<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form name="form" (ngSubmit)="onSubmit()" [formGroup]="searchForm" #f="ngForm" novalidate>
            <div class="form group col-xs-4">
              <label for="txid">SOA TxID</label>
              <input id="txid" name="txid"  formControlName="txid" class="form-control" [(ngModel)]="search.txid" autocomplete="off"/>
            </div>
            <div class="form group col-xs-4">
              <label for="session_id">Session ID</label>
              <input id="session_id" name="session_id" formControlName="sessionId" class="form-control" [(ngModel)]="search.session_id" autocomplete="off"/>
            </div>
            <div class="form group col-xs-4">
              <label for="method">Método</label>
              <input id="method" name="method"  formControlName="method" class="form-control" [(ngModel)]="search.method" autocomplete="off"/>
            </div>
            <div class="form group col-xs-3">
              <label for="date">Fecha</label>
              <input class="form-control" id="date" name="date" formControlName="date" [(ngModel)]="search.date" [owlDateTimeTrigger]="date" [owlDateTime]="date" placeholder="Fecha">
              <owl-date-time [pickerType]="'calendar'" #date></owl-date-time>
            </div>       
            <div class="form group col-xs-3">
              <label for="country">País de origen</label>
              <input id="country" name="country" formControlName="country" class="form-control" [(ngModel)]="search.country" autocomplete="off"/>
            </div>
            <div class="form group col-xs-3">
              <label for="doc_type">Tipo</label>
              <input id="doc_type" name="doc_type" formControlName="doc_type" class="form-control" [(ngModel)]="search.doc_type" autocomplete="off" />
            </div>
            <div class="form group col-xs-3">
              <label for="doc_number">Número</label>
              <input id="doc_number" name="doc_number" formControlName="doc_number" class="form-control" [(ngModel)]="search.doc_number" autocomplete="off"/>
            </div>
            <label class="text-danger" *ngIf="searchForm.status != 'VALID'">
              Los campos para buscar por documento solo pueden contener caracteres numéricos
            </label>
            <div class="btn-group col-xs-3">
              <button class="btn btn-primary" (click)="cleanFilter();">Limpiar Filtros</button>
              <button class="btn btn-success">Buscar</button>
            </div>    
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-12">
        <ag-grid-angular 
          style="height: 650px;" 
          class="ag-theme-material"
          [pagination]="true"
          [paginationPageSize]=10
          [paginationAutoPageSize]=true
          [enableSorting]="true"
          [rowData]="rowData" 
          [columnDefs]="columnDefs"
          >
        </ag-grid-angular>
      </div>
      <ngx-ui-loader></ngx-ui-loader>
    </div>
  </div>
</div>