<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-info">
        <div class="panel-body">
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form group col-xs-6">
              <label for="txid">SOA TX ID</label>
              <input id="txid" name="txid" class="form-control" [(ngModel)]="search.txid" autocomplete="off"/>
            </div>
            <div class="form group col-xs-6">
              <label for="session_id">Session ID</label>
              <input id="session_id" name="session_id" class="form-control" [(ngModel)]="search.session_id" autocomplete="off"/>
            </div>
            <div class="form group col-xs-6">
              <label for="method">Método</label>
              <input id="method" name="method" class="form-control" [(ngModel)]="search.method" autocomplete="off"/>
            </div>
            <div class="form group col-xs-6">
              <label for="date">Fecha</label>
              <input class="form-control" id="date" name="date" [owlDateTimeTrigger]="date" [owlDateTime]="date" placeholder="Fecha"  [(ngModel)]="search.date">
              <owl-date-time [pickerType]="'calendar'" #date></owl-date-time>
            </div>       
            <div class="form group col-xs-3">
              <label for="country">País de origen</label>
              <input id="country" name="country" class="form-control" [(ngModel)]="search.country" autocomplete="off"/>
            </div>
            <div class="form group col-xs-2">
              <label for="doc_type">Tipo</label>
              <input id="doc_type" name="doc_type" class="form-control" [(ngModel)]="search.doc_type" autocomplete="off"/>
            </div>
            <div class="form group col-xs-4">
              <label for="doc_number">Número</label>
              <input id="doc_number" name="doc_number" class="form-control" [(ngModel)]="search.doc_number" autocomplete="off"/>
            </div>
            <div class="btn-group col-xs-12">
              <button class="btn btn-success">Buscar</button>
              <button class="btn btn-primary" (click)="cleanFilter();">Limpiar Filtros</button>
            </div>    
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-12">
        <ag-grid-angular 
          style="height: 650px;" 
          class="ag-theme-material"
          [pagination]="true"
          [paginationPageSize]=10
          [paginationAutoPageSize]=true
          [enableSorting]="true"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          >
        </ag-grid-angular>
      </div>
      <ngx-ui-loader></ngx-ui-loader>
    </div>
  </div>
</div>