/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "~ng-pick-datetime/assets/style/picker.min.css";

footer{

    background-color: #424242;
    color: #fff;
    padding: 10px 0px;
}

.btn-group{

    margin-top: 5px;
}